body{
  padding: 20px;
}
h1{
  text-align: center;
}
.dice2{
  float: right;
  padding-right: 20%;
  padding-top: 10%;

}
.dice1{
  float: left;
  padding-left: 10%;
  padding-top: 10%

}
p{
  padding-bottom: 30%;
}
button{
  display: inline;
  padding: 5px;
  margin: 5px;
}
